<% provide(:title, 'Home') %>
<% if signed_in? %> 
  <div class="row">
    <aside >
      <div class="span3">
      <section>
        <%= render 'shared/user_info' %> 
      </section>
      </div>
      <div class="span3">
      <section>
        <%= render 'shared/stats' %> 
      </section>
      </div>
    </aside>  
  </div>
<!--       <section>
        <%= render 'shared/graph_form' %> 
      </section> -->
    
    <!-- <div class="row-fluid"> -->
      <!-- <div class="row"> -->
        <h3>Graph Feed</h3>
        <%= render 'shared/feed' %> 
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Cloud Gephi</h1>
    <h2>
          Here goes cloud gephi description.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
