<% provide(:title, @user.name) %>
<div class="row">
  <aside >
      <div class="span3">
      <section>
        <%= render 'shared/user_info' %> 
      </section>
      </div>
      <div class="span3">
      <section>
        <%= render 'shared/stats' %> 
      </section>
      </div>
    </aside> 
</div>
  <!-- <div class="span8"> -->
    <%= render 'follow_form' if signed_in? %>
    <% if @user.graphs.any? %>
      <h3>Graphs (<%= @user.graphs.count %>)</h3>
      <div class="row">
        <ol class="graphs">
          <%= render @graphs %> 
        </ol>
      </div>
      <%= will_paginate @graphs %> 
    <% end %>
  <!-- </div> -->
<!-- </div> -->