<%= form_for @graph, html: {multipart: true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %> 
  <div class="field">
    <%= f.text_field :description, placeholder: "Post New Graph..." %>
  </div>
  <div>
    <%= f.file_field :source %>
  </div>
  <%= f.submit "Post Graph", class: "btn btn-large btn-primary" %> 
<% end %>