<%= form_for @graph, html: {multipart: true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="content"><h2>Post New Graph</h2></div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Graph name..." %>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Graph description..." %>
  </div>
  <div>
    <%= f.file_field :source %>
  </div>
  <%= f.submit "Post Graph", class: "btn btn-large btn-primary" %> 
<% end %>